.cards {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .post-card {
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #424242;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 25%;
    min-height: 500px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Ajustes para pantallas pequeñas */
  
  .post-card img {
    display: flex;
    max-width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    object-fit: cover;
    border-radius: 8px;
  }

  .divImg{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  /* Estilos adicionales para elementos dentro de .post-card */
  .post-card h2, .post-card .username, .post-card .content {
    margin: 10px 0;
  }
  
  .post-card .content {
    background-color: #2E2E2E;
    padding: 15px;
    border-radius: 4px;
    color: #dcdcdc;
  }

  .Resumen{
    margin-top: 10px;
    background-color: #2E2E2E !important;
    padding:15px; 
    border-radius:4px; 
    color:white;
  }

  .like-btn {
    color: #333; /* Color por defecto del corazón */
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .like-btn.liked {
    color: red; /* Color del corazón cuando está 'liked' */
  }
  
  .like-section {
    display: flex;
    align-items: center;
  }
  
  .like-count {
    margin-top: 8px;
    margin-left: 8px;
  }
  