

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif; /* Modern and clean font */
  background-color: #cacaca; /* Light gray background */
  color: #333; /* Dark gray text for readability */
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main styling starts here */

header {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

header img {
  height: 70px;
}

nav {
  background-color: #555;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #777;
}

footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}



.button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  nav a {
    float: none;
    width: 100%;
  }
}
